.main-menu {
    overflow-x: auto;
    padding: 50px 20px;

    @media screen and (max-width: 768px) {
        .d-flex {
            justify-content: start !important;
        }
    }
}

.header {
    background-image: url('../images/header-background.png');
    height: 420px;
    padding-top: 40px;

    .header-subtitle {
        font-size: $font_size_small;
        font-weight: 600;
        color: $color_black;
    }

    .header-title {
        font-size: $h1_font_size;
        font-weight: 700;
        color: $color_black;
        margin-bottom: 20px;

        span {
            color: $color_orange;
        }
    }

    .header-description {
        color: $color_paragraph;
    }

    @media screen and (max-width: 768px) {
        height: max-content;
        padding: 50px 20px;
        background-position: center;

        .header-title {
            font-size: $h2_font_size;
        }

        .px-5 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
}