* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $color_white;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.section-title {
    font-size: $h2_font_size;
    font-weight: 600;
    color: $color_black;
}