$color_gray : #F1F1F1;
$color_black : #0A0A0A;
$color_white : #FFFFFF;
$color_orange : #FF8A00;
$color_paragraph : #4F4F4F;
$color_black_1 : #4F4F4F;

$h1_font_size: 60px;
$h2_font_size: 32px;
$h3_font_size: 24px;
$h4_font_size: 18px;
$h5_font_size: 16px;

$font_size_small: 14px;
$font_size_smaller: 12px;